/* GLOBAL STUFF */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #111;
	--card-color: #181818;
	--font-color: #f7f7f7;
	--accent-color: yellow;
	--outline-color: #444;
	--focus-outline-color: #aaa;
	--input-bg-color: #222;
	--button-color: #37698f;
	--error-color: #f52121;
	--button-danger-color: #b42e19;
	--secondary-font-color: #aaa;
	--tag-color: #2a772a;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
	padding-bottom: 3rem;
}

/* ELEMENTS */

a {
	color: inherit;
	text-underline-offset: 2px;
}

h1 {
	font-family: monospace;
	font-size: 2rem;
	color: var(--accent-color);
	font-weight: 500;
	line-height: 1.3;
}

h1.title {
	font-size: 2.5rem;
}

p {
	margin-block: 1rem;
}

header:has(h1) {
	margin-block: 2rem 1.5rem;
}

strong {
	font-weight: 500;
}

code,
textarea {
	tab-size: 4;
}

/* FOCUS RING */

:is(input, button, select, textarea, a):focus-visible {
	outline: 1px solid var(--focus-outline-color);
}

/* INTERACTIVE ELEMENTS */

input,
button,
select,
textarea {
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

button:not(:disabled) {
	cursor: pointer;
}

button:disabled {
	opacity: 0.5;
}

.button {
	background-color: var(--button-color);
	padding: 0.2rem 0.8rem;
	border-radius: 0.2rem;
	font-weight: 500;
	white-space: nowrap;
	transition: opacity 180ms;
}

.button.small {
	padding: 0.1rem 0.6rem;
	font-size: 0.875rem;
}

.button.danger {
	background-color: var(--button-danger-color);
}

a.button {
	text-decoration: none;
	display: inline-block;
}

.label {
	display: block;
	color: var(--secondary-font-color);
	margin-bottom: 0.2rem;
}

.form-group {
	margin-bottom: 1.25rem;
}

.input {
	width: 100%;
	padding: 0.4rem;
	border-radius: 0.25rem;
	background-color: var(--input-bg-color);
	border: 1px solid var(--outline-color);
}

textarea.input {
	resize: vertical;
}

input[type='checkbox'] {
	accent-color: var(--button-color);
}

/* UTILS */

.error {
	font-weight: 500;
	color: var(--error-color);
}

.lucide {
	vertical-align: text-bottom;
}

.language {
	background-color: var(--tag-color);
	display: inline-block;
	font-family: monospace;
	padding: 0.1rem 0.4rem;
	border-radius: 0.2rem;
	font-size: 0.875rem;
}

.code {
	font-family: monospace;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
